.social {
    font-size: 0;
    line-height: 0;
    margin-top: 3.6rem;
}

.social__item {
    display: inline-block;

    &:not(:last-child) {
        margin-right: 2rem;
    }

    svg {
        height: 2.6rem;
    }
}
